h1{
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #062c33;
    width: 40%;
    height: 7vh;
    top: 5vh;
    color: #fefefe;
}

ul{
    position: relative;
    text-align: center;
    top: 10vh;
}

li{
    list-style: none;
}
/*
#btnNew{
    width: 10%;
    height: auto;
    position: relative;
    left:45%;
    bottom: 25vh;
    top: 50vh;
}