{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/homepage.css">
{% endblock %}

{% block body %}
    <h1>Liste des derniers articles</h1>

    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
            <a href="{{ path('app_show', {slug: article.slug}) }}" class="btn btn-outline-secondary">Détails</a>
        {% endfor %}
    </ul>


   <a href="{{ path('app_article') }}" class="btn btn-outline-dark" id="btnNew">Nouvel article</a>
{% endblock %}

