{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d’un nouvel article</h1>

    {{ form_start(createForm) }}
        {{ form_widget(createForm) }}
    <div class="form-group row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn-success btn">Créer l’article</button>
        </div>
    </div>

    {{ form_end(createForm) }}


{% endblock %}

