{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier l'article</h1>

    {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        <div class="form-group row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn-success btn">Sauvegarder</button>
            </div>
        </div>

    {{ form_end(editForm) }}


{% endblock %}

{% block css %}

{% endblock %}

